### Hugo ###
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
.hugo_build.lock

.vscode

### Node ###
logs
*.log
npm-debug.log*
node_modules/
.npm
.eslintcache
.stylelintcache

# dotenv environment variable files
.env
.env*.local

# yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

public/

.obsidian/

.direnv/
