<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#e8e8e8" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1e1e28" />

  {{ partialCached "head/resource-hints.html" . }}
  {{ partial "head/seo.html" . }}


  <!-- Extensibility -->
  {{ partial "head/head_start.html" . }}

  {{ partial "head/stylesheets.html" . }}

  {{ partial "head/dark-mode.html" . }}

  {{ partialCached "head/favicons.html" . }}


  <!-- Extensibility -->
  {{ partial "head/head_end.html" . }}
</head>
