<!-- Preload critical font weights -->

<!-- Roboto Slab -->
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href="/fonts/roboto-slab-latin-400.woff2"
  crossorigin="anonymous"
/>

<!-- Fira Code -->
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href="/fonts/fira-code-latin-400.woff2"
  crossorigin="anonymous"
/>

<!-- Prefetch less-critical font weights -->
<link
  rel="prefetch"
  href="/fonts/roboto-slab-latin-700.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>
<link
  rel="prefetch"
  href="/fonts/fira-code-latin-300.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>
<link
  rel="prefetch"
  href="/fonts/fira-code-latin-700.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>
