pre {
  scrollbar-width: thin;
  scrollbar-color: var(--bg4) var(--bg2);
}

pre::-webkit-scrollbar {
  height: 0.5rem;
}

pre::-webkit-scrollbar-track {
  background: var(--bg2);
  border-radius: 0.2rem;
}

pre::-webkit-scrollbar-thumb {
  background: var(--bg4);
  border-radius: 0.2rem;
}
