<header>
  <div class="main">
    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  </div>
  <nav>
    {{ range .Site.Menus.main }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }} {{ if eq .Site.Params.mode "toggle" -}}
  </nav>
  <script
    type="text/javascript"
    src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"
  ></script>
  <span id="dark-mode-toggle" onclick="toggleTheme()"></span>
  <script src="{{ .Site.BaseURL }}js/themetoggle.js"></script>
  {{ end }}
  {{ if (findRE "<pre" .Content 1) }}

    {{ $copyCss := resources.Get "css/copy-code-button.css" | minify }}
    <link href="{{ $copyCss.RelPermalink }}" rel="stylesheet">
{{ end }}

</header>
